@font-face {
  font-family: "GameOfThrones";
  src: url("../font/GameofThrones.ttf");
}

@font-face {
  font-family: "uncial antiqua";
  src: url("../font/UncialAntiqua-Regular.otf");
}

.App {
  text-align: center;
  background: #bbb;
}

main {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

header {
  background: #8d8d8d;
  overflow: hidden;
  border-bottom: solid 4px #000;
  h1 {
    width: 100%;
    text-align: center;
    font-size: 70px;
    margin: 20px;
    color: black;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #bbb;
  overflow-x: hidden;
  /* position: relative; */

  img {
    transition: all 1s;
    z-index: -1;
    opacity: 0.4;
  }

  #bg-logos {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: absolute;
  }
}

.stark-sigil {
  width: 60%;
  position: absolute;
  left: -500px;
  top: 150px;
}

.targ-sigil {
  width: 70%;
  display: inline-block;
  position: absolute;
  bottom: -600px;
  left: calc(100% - 600px);
}

body.active {
  img {
    width: 50%;
    opacity: 0.1;
  }
  .stark-sigil {
    left: -600px;
  }
  .targ-sigil {
    bottom: -500px;
    left: calc(100% - 300px);
  }
}

.got-font {
  font-family: "GameOfThrones";
  /* font-family: "Cinzel, Arial, sans-serif"; */
  font-weight: normal;
  font-style: normal;
}
