.reset-button,
.back-button {
    opacity: 0.8;
    color: #ddd;
    position: absolute;
}
.reset-button {
    top: 0px;
    left: 20px;
    font-size: 60px;
}

.back-button {
    left: 100px;
    top: -10px;
    font-size: 80px;
}
