.graph {
    margin: 0 auto;
    width: 1200px;
    /* display: inline-block; */
    h3 {
        text-align: center;
        margin: 32px 0 20px 0;
        .got-font {
            text-transform: capitalize;
            font-size: 36px;
        }
        font-size: 24px;
    }
    h4.breakdown {
        font-size: 24px;
        text-align: center;
    }

    .normalise-toggle {
        cursor: pointer;
        float: right;
        max-width: 45%;
        padding: 3px;
        white-space: nowrap;
        border-radius: 3px;
        background: #666;
        h4 {
            color: white;
            margin: 0;
        }
    }

    .normalised-scores-explanation {
        font-size: 12px;
        top: 0;
        vertical-align: super;
        color: #666;
        margin-left: 4px;
        cursor: pointer;
    }
}
.graph-container {
    width: 100%;
    position: relative;
}
