@import "reset.less";
@import "base.less";
@import "background.less";
@import "synopsis.less";
@import "wordpanel.less";
@import "graph.less";
@import "controlpanel.less";

#mobile-message {
    display: none;
}

@media only screen and (max-width: 800px) {
    #root,
    #bg-logos {
        display: none;
    }
    header h1 {
        margin: 10px 0 10px 0;
        font-size: 32px;
    }

    #mobile-message {
        display: block;
        position: relative;
        text-align: center;
        h3 {
            margin: 40px auto 10px auto;
            font-size: 24px;
        }
        p {
            margin: 20px;
            font-size: 18px;
        }
    }
}
