@import "reset.less";
@import "base.less";
@import "synopsis.less";

.reset-button {
    font-size: 100px;
    opacity: 0.8;
    color: #ddd;
    position: absolute;
    top: 0px;
    left: 20px;
}

h3.selected-word {
    text-transform: capitalize;
    font-size: 36px;
    margin: 20px 0 12px 0;
}
h4.breakdown {
    margin-bottom: 4px;
}
.canvasWrapper {
    height: 800px;
}
