.word-panel {
    padding: 1px 0 40px 0;
    text-align: center;
    margin: 100px auto auto auto;
    height: auto;
    background: rgba(205, 205, 205, 0.4);
    width: 1000px;
    h2 {
        font-size: 36px;
        font-weight: bold;
        margin: 24px 0 024px 0;
    }
}

.word-choice {
    cursor: pointer;
    background-color: #ddd;
    font-size: 24px;
    display: inline-block;
    padding: 4px 20px 4px 20px;
    margin: 2px;
    text-align: center;
    transition: background-color 0.2s ease-in;

    &:hover {
        background: white;
    }
}
